<section class="choice">
  <div class="container choice__container">
    <div class="choice__content">
      <h1 class="common__title choice__content---title">Выберите <span>тему теста</span></h1>
      <div class="choice__content--description">
        Чтобы начать тест, выберите одну из предложенных ниже тем.
      </div>
      <div class="choice__content--options" id="choice-options">
        <div class="choice__option" data-id="2">
          <div class="choice__option--result">
            <div>Результат</div>
            <div>3/5</div>
          </div>
          <div class="choice__option--text">Тест №2. "JavaScript: Продвинутый уровень"</div>
          <div class="choice__option--arrow"><img src="assets/images/arrow.png" alt="Стрелка"></div>
        </div>
      </div>
    </div>
    <div class="choice__image">
      <img src="assets/images/choice-image.png" alt="Персонажи">
    </div>
  </div>
</section>
