<section class="choice">
  <div class="container choice__container">
    <div class="choice__content">
      <h1 class="common__title choice__content---title">Выберите <span>тему теста</span></h1>
      <div class="choice__content--description">
        Чтобы начать тест, выберите одну из предложенных ниже тем.
      </div>
      <div class="choice__content--options" id="choice-options">
        <div class="choice__option" (click)="chooseQuiz(quiz.id)" *ngFor="let quiz of quizzes">
          <div class="choice__option--result" *ngIf="quiz.result">
            <div>Результат</div>
            <div>{{quiz.result}}</div>
          </div>
          <div class="choice__option--text">{{quiz.name}}</div>
          <div class="choice__option--arrow"><img src="assets/images/arrow.png" alt="Стрелка"></div>
        </div>
      </div>
    </div>
    <div class="choice__image">
      <img src="assets/images/choice-image.png" alt="Персонажи">
    </div>
  </div>
</section>
