<header class="header">
  <div class="container header__container">
    <a routerLink="/" class="header__logo">
      <img src="assets/images/logo.png" alt="logotype" />
    </a>
    <div class="profile" id="profile">
      <img src="assets/images/profile.png" alt="Фото" class="profile__image" />
      <div class="profile__info">
        <div class="profile__user" id="profile-full-name"></div>
        <a routerLink="/logout" class="profile__logout">Выйти</a>
      </div>
    </div>
  </div>
</header>
